---
title: Archive of all writings
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 3
---
Below you can find all writings. Enjoy!

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
