---
title: Archive of all writings
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 3
---
Below you can find all writings. I intend to write something atleast once a week, but I will for sure write something at least once a month.
<br>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
