{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}

{% set currentMonth = "" %}
{% set totalPosts = postslist.length %}

<ol reversed class="postlist" start="{{ totalPosts }}">
{% for post in postslist | reverse %}
    {% set postMonth = post.date | readableDate("LLLL yyyy") %}

    {% if postMonth != currentMonth %}
        {% if not loop.first %}
            </ol>
        {% endif %}

        <h2>{{ postMonth }}</h2>
        {% if not loop.first %}
            <ol reversed class="postlist" start="{{ totalPosts - loop.index0 + 1 }}">
        {% endif %}
        {% set currentMonth = postMonth %}
    {% endif %}

    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        <a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd LLLL yyyy") }}</time>
    </li>

    {% if loop.last %}
        </ol>
    {% endif %}
{% endfor %}
