<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style>
		<script data-goatcounter="https://unfathoming.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header background-image: url('/assets/banners/{% if banner %}{{ banner }}{% else %}default.png{% endif %}');>
			<a href="/" class="home-link">{{ metadata.title }}</a>
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>
		<main id="skip">
			<div class="content-wrapper">
				<div class="main-content">
					{{ content | safe }}
				</div>
				<div class="sidebar">
					<h3>Recent Articles</h3>
					<ul>
						{%- for post in collections.posts | reverse %}
							{% if loop.index <= 5 %}
								<li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
							{% endif %}
						{%- endfor %}
					</ul>
					<h3>Tags</h3>
					<div class="tag-cloud">
						{% for tag in collections.all | getAllTags | filterTagList | sort %}
						{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
							<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</main>
		<footer>
			<nav>
				<ul class="footer-nav">
				<li class="footer-nav-item">
					<a href="#">
						<?xml version="1.0" encoding="UTF-8"?><svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke-linecap="round" stroke-width="1.5" stroke="#323232" fill="none" stroke-linejoin="round"><path d="M12.01 4.51v14.99"></path><path d="M6.023 10.514l5.977-6.016 5.977 6.016"></path></g><path fill="none" d="M0 0h24v24h-24Z"></path></svg>
					</a>
				</li>
				{%- for entry in collections.all | footerNavigation %}
				<li class="footer-nav-item">
					<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.data.footerNavigation[0].key }}</a>
				</li>
				{%- endfor %}
				<i>Lore runs deep, secrets run deeper.</i>
				</ul>
			</nav>
		</footer>
		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
