<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    {%- css %}* { box-sizing: border-box; }{% endcss %}
    {%- css %}{% include "public/css/index.css" %}{% endcss %}
    <style>{% getBundle "css" %}</style>
    <script data-goatcounter="https://unfathoming.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
<body>
    <header>
        <nav>
        {%- for entry in collections.all | eleventyNavigation %}
            <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
        {%- endfor %}
        </nav>
    </header>
    <div class="container">

        <aside class="sidebar left">
            <h1>Recent Posts</h1>
            <ul>
                {%- for post in collections.posts | reverse %}
                    {% if loop.index <= 5 %}
                        <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
                    {% endif %}
                {%- endfor %}
            </ul>
            <h1>Tags</h1>
            <ul>
                {%- for tag in collections.all | getAllTags | filterTagList %}
                    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                    {% set postsCount = collections[tag] | length %}
                    <li><a href="{{ tagUrl }}">{{ tag }} ({{ postsCount }})</a></li>
                {%- endfor %}
            </ul>
        </aside>
        <main class="content">
            <div class="content-body">
                {{ content | safe }}
            </div>
        </main>
    </div>
    
</body>
<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
</html>