<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style>
		<script defer data-domain="unfathom.ing" src="https://plausible.io/js/script.js"></script>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>
		<main id="skip">
			<div class="content-wrapper">
				<div class="main-content">
					{{ content | safe }}
				</div>
				<div class="sidebar">
					<h3>Recent Articles</h3>
					<ul>
						{%- for post in collections.posts | reverse %}
							{% if loop.index <= 3 %}
								<li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
							{% endif %}
						{%- endfor %}
					</ul>

					<h3>Tags</h3>
					<div class="tag-cloud">
						{%- for tag in collections.tagList %}
							<a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
						{%- endfor %}
					</div>

					<h3>Copyright</h3>
					<p>© {% year %} {{ metadata.title }}. All rights reserved.</p>
				</div>
			</div>
		</main>
		<footer>
			<p>Copyright &copy; {% year %} all text and images.<br>
			<i>Lore runs deep, secrets run deeper.</i></p>
		</footer>
		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
